@font-face {
    font-family: "Aeonik-Thin";
    src: url("https://root-stone-x.github.io/site-elements/Aeonik-Thin.woff") format('woff');
}

@font-face {
    font-family: "Aeonik-Medium";
    src: url("https://root-stone-x.github.io/site-elements/Aeonik-Medium.woff") format('woff');
}

body {
    padding: 10vw;
    margin: 0;
    height: auto;
    width: auto;
    background: #121212;
    color: white;
    overflow-x: hidden;
    font-family: Aeonik-Thin;
    font-weight: 100;
    font-size: max(1em, 12px);
    font-style: normal;
}

div {
    display: block;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    line-height: 1;
}

li {
    float: left;
    clear: left;
}

a {
    font-family: Aeonik-Medium;
    font-weight: 400;
    color: white;
    opacity: 1;
    transition: .3s;
    margin-bottom: 30px;
    display: block
}

a:hover {
    opacity: .4;
    transition: .3s;
}

a:visited {
  color: #9e91c7;
}

iframe {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 65%;
}

/*Start of sorting filer element*/
#myInput {
    background: none;
    color: white;
    width: 20%;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 5%;
}

#myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/*End of sorting filer element*/
