body {
    padding: 10vw;
    margin: 0;
    height: 100%;
    width: 100%;
    background: black;
    color: white;
    overflow: hidden;
}

div {
    font-family: Aeonik-Thin;
    font-weight: 100;
    font-size: 1vw;
    font-style: normal;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: left;
    line-height: 1;
}

a {
    font-family: Aeonik-Medium;
    font-weight: 400;
    color: white;
    opacity: 1;
    transition: .3s;
    margin-bottom: 30px;
    display: block
}

a:hover {
    opacity: .4;
    transition: .3s;
}

/*Start of sorting filer element*/
#myInput {
    background: none;
    color: white;
    width: 30%;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 5%;
}

#myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/*End of sorting filer element*/
